{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/password-change-done.css' %}" media="screen">

<section class="custom-password-change-done u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_790c">
  <div class="custom-sheet">
    <h2>{% trans 'Password changed successfully!' %}</h2>
    <a href="{% url 'profile-details' request.user.pk %}" class="custom-btn">{% trans 'Back to Profile' %}</a>
  </div>
</section>
{% endblock %}
