{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/change-password.css' %}" media="screen">

<section class="change-password-section u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_790c">
  <div class="u-clearfix u-sheet u-valign-middle-lg u-sheet-1">
    <div class="u-form u-form-1">
      <form method="post" class="u-form-group label">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="u-align-center u-form-group u-form-submit">
          <button type="submit" class="u-btn u-button-style">{% trans 'Change Password' %}</button>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}
