{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/reset_password.css' %}">

<section class="reset-password-section">
  <div class="reset-password-container">
    <h2>{% trans 'Password reset complete' %}</h2>
    <p>{% trans 'Your password has been set. You may now log in using your new password.' %}</p>
    <a href="{% url 'login' %}" class="u-btn u-btn-submit u-button-style go-login-btn">{% trans 'Go to login' %}</a>
  </div>
</section>
{% endblock %}
