{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/reset_password.css' %}">

<section class="reset-password-section">
  <div class="reset-password-container">
    <h2>{% trans 'Forgot Password' %}</h2>
    <p>{% trans 'Enter your email to receive password reset instructions:' %}</p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">{% trans 'Send reset email' %}</button>
    </form>
  </div>
</section>
{% endblock %}
