{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" media="screen">
<section class="register-section">
    <div class="register-container">
        <div class="register-form-wrapper">
            <form method="post" action="{% url 'register' %}">
                {{ form }}
                {% csrf_token %}

                <button type="submit" class="register-btn">{% trans 'SIGN IN' %}</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
