{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load socialaccount %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" media="screen">

<section class="register-section">
    <div class="register-container">
        <div class="register-form-wrapper">

            <form method="post" action="{% url 'register' %}" class="register-form">
                {% csrf_token %}
                {{ form }}

                <button type="submit" class="register-btn">
                    {% trans 'Register' %}
                </button>
            </form>

            <div class="or-wrap">
                <span class="or">{% trans "OR" %}</span>
            </div>

            <div class="social-auth-wrap">
                <a href="{% provider_login_url 'google' %}" class="social-auth-btn social-auth-google">
                    <span class="social-auth-icon" aria-hidden="true">
                        <svg viewBox="0 0 48 48" width="24" height="24">
                            <path fill="#FFC107" d="M43.6 20.5H42V20H24v8h11.3C33.7 32.7 29.3 36 24 36c-6.6 0-12-5.4-12-12s5.4-12 12-12c3 0 5.7 1.1 7.8 2.9l5.7-5.7C34.1 6.1 29.3 4 24 4 12.9 4 4 12.9 4 24s8.9 20 20 20 20-8.9 20-20c0-1.2-.1-2.3-.4-3.5z"/>
                            <path fill="#FF3D00" d="M6.3 14.7l6.6 4.8C14.7 15.1 19 12 24 12c3 0 5.7 1.1 7.8 2.9l5.7-5.7C34.1 6.1 29.3 4 24 4c-7.7 0-14.3 4.3-17.7 10.7z"/>
                            <path fill="#4CAF50" d="M24 44c5.2 0 9.9-2 13.4-5.2l-6.2-5.2C29.2 35.1 26.7 36 24 36c-5.2 0-9.6-3.3-11.2-8l-6.5 5C9.7 39.5 16.3 44 24 44z"/>
                            <path fill="#1976D2" d="M43.6 20.5H42V20H24v8h11.3c-.8 2.3-2.2 4.2-4.1 5.6l.1-.1 6.2 5.2C37 38.3 44 33 44 24c0-1.2-.1-2.3-.4-3.5z"/>
                        </svg>
                    </span>
                    <span class="social-auth-text">{% trans 'Register with Google' %}</span>
                </a>
                <*-- Facebook login button -->
                <a href="#" class="social-auth-btn social-auth-facebook">
                    <span class="social-auth-icon" aria-hidden="true">
                        <svg viewBox="0 0 24 24" width="24" height="24">
                            <path fill="#1877F2" d="M24 12.073C24 5.405 18.627 0 12 0S0 5.405 0 12.073c0 6.019 4.388 11.009 10.125 11.927v-8.437H7.078v-3.49h3.047V9.413c0-3.03 1.792-4.705 4.533-4.705 1.313 0 2.686.236 2.686.236v2.975H15.83c-1.49 0-1.955.931-1.955 1.887v2.267h3.328l-.532 3.49h-2.796V24C19.612 23.082 24 18.092 24 12.073z"/>
                        </svg>
                    </span>
                    <span class="social-auth-text">{% trans 'Register with Facebook' %}</span>
                </a>
            </div>

        </div>
    </div>
</section>
{% endblock %}