{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/change-event.css' %}" media="screen">

<section class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_790c"
         data-image-width="1980" data-image-height="1243">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-sheet-1">

        <div class="u-container-layout u-container-layout-1">
            <h4 class="u-text u-text-default custom-event-form-heading">EDIT EVENT</h4>

            <div class="u-form u-form-1 custom-event-form">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <label for="{{ form.name.id_for_label }}">Event Name</label>
                    {{ form.name }}

                    <label for="{{ form.location.id_for_label }}">Location</label>
                    {{ form.location }}

                    <label for="{{ form.location_url.id_for_label }}">Location URL</label>
                    {{ form.location_url }}

                    <label for="{{ form.description.id_for_label }}">Description</label>
                    {{ form.description }}

                    <label for="{{ form.days.id_for_label }}">Days</label>
                    {{ form.days }}

                    <label for="{{ form.start_date.id_for_label }}">Start Date</label>
                    {{ form.start_date }}

                    <label for="{{ form.city.id_for_label }}">City</label>
                    {{ form.city }}

                    <label for="{{ form.status.id_for_label }}">Set Status</label>
                    {{ form.status }}

                    {% if event.image1 %}
                    <img src="{{ event.image1.url }}" width="150">
                    {% endif %}
                    <label>Image 1</label>
                    {{ form.image1 }}

                    {% if event.image2 %}
                    <img src="{{ event.image2.url }}" width="150">
                    {% endif %}
                    <label>Image 2</label>
                    {{ form.image2}}

                    {% if event.image3 %}
                    <img src="{{ event.image3.url }}" width="150">
                    {% endif %}
                    <label>Image 3</label>
                    {{ form.image3 }}


                    <div class="u-align-center u-form-group u-form-submit">

                        <button type="submit" class="custom-save-button">Save</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
</section>

{% endblock %}
