{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}


    <link rel="stylesheet" href="{% static 'css/new-events.css' %}" media="screen">

    <section
            class="u-clearfix u-grey-80 u-valign-bottom-lg u-valign-bottom-md u-valign-bottom-sm u-valign-bottom-xs u-section-1"
            id="carousel_cb01">
        <div class="u-clearfix u-sheet u-valign-middle-lg u-sheet-1">
            {% if perms.events.add_event %}
                <a href="{% url 'create-event' %}"
                   class="u-btn u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-1">
                    {% trans 'CREATE NEW EVENT' %}
                </a>
            {% endif %}


            {% if new_events %}
                <h3 class="u-text u-text-1">{% trans 'New Events' %}</h3>
                {% for event in new_events %}
                    <div class="u-align-left u-container-align-left u-container-style u-group u-palette-1-light-3 u-radius u-shape-round u-group-1"
                         data-animation-name="customAnimationIn"
                         data-animation-duration="1500"
                         data-animation-delay="0"
                         data-animation-out="0">
                        <div class="u-container-layout u-container-layout-2">

                            <img src="

                                    {% if event.image1 %}{{ event.image1.url }}{% else %}{% static 'images/452545.jpg' %}{% endif %}"
                                 alt="{{ event.name }}"
                                 class="u-border-2 u-border-palette-1-base u-image u-image-circle u-image-2"
                                 data-animation-name="customAnimationIn"
                                 data-animation-duration="1500"
                                 data-animation-delay="250">

                            <img src="

                                    {% if event.image2 %}{{ event.image2.url }}{% else %}{% static 'images/37.jpg' %}{% endif %}"
                                 alt="{{ event.name }}"
                                 class="u-border-2 u-border-palette-1-base u-image u-image-circle u-image-3"
                                 data-animation-name="customAnimationIn"
                                 data-animation-duration="1500"
                                 data-animation-delay="250">

                            <img src="

                                    {% if event.image3 %}{{ event.image3.url }}{% else %}{% static 'images/2133123.jpg' %}{% endif %}"
                                 alt="{{ event.name }}"
                                 class="u-border-2 u-border-palette-1-base u-image u-image-circle u-image-4"
                                 data-animation-name="customAnimationIn"
                                 data-animation-duration="1500"
                                 data-animation-delay="250">

                            <h3 class="u-align-center u-text u-text-2">{{ event.name }}</h3>
                            <div class="u-align-center u-border-3 u-border-palette-1-base u-line u-line-horizontal u-line-1"></div>
                            <a href="{% url 'event-details' event.pk %}"
                               class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-2">{% trans 'More info' %}</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3 class="center-text2">No upcoming events.</h3>
            {% endif %}
        </div>
    </section>

{% endblock %}